# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# after pre-processor
*.i90

# custom
**/*_help.txt

# Visual Studio
**/*.suo
**/*.u2d
**/*.pdb
**/*BuildLog*
**/*.manifest

# VS hidden (local) folder
.vs/
.vscode/

# CUSTOM
#specific subfolder, keep it as backup
src/x64
src/x86
**/*.lnk
**/*.user
**/*.help
**/fort.*
deps/
lapack/
build/
*.exp
**/*.ilk
**/*.idb
**/__pycache__
compile.bat
plotter/
build/
.fortls